.header {
  font-size: 2.5em;
  color: "#19aad5";
  margin-top: 2vh;
}

.container {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
