.list-group-sidebar .list-group-item {
  color: #fff;
  background-color: #252934;
  border: none;
  transition: all 0.2s ease-in-out;
}

.list-group-sidebar .list-group-item:hover {
  background-color: #252934;
  color: #0079fd;
  transform: scale(1.1);
}
