.footer {
  background: #252934;
  padding-bottom: 2vw;
}

.footer-text {
  color: white;
  transition: all 0.1s ease-in-out;
}

.footer-text:hover {
  color: #0079fd;
  font-weight: bold;
  text-decoration: none;
}

.admin {
  padding-right: 2vw;
}
