.link {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  color: grey;
  transform: scale(1.1);
}

.logo {
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.3);
}

.navbar {
  width: 100vw !important;
}
