.link {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  text-decoration: none;
  color: grey;
  transform: scale(1.1);
}

.navbar-fixed-top {
  width: 100vw !important;
}
