.group {
  padding-top: 60vh;
  width: 50px;
  background: #252934;
}

.content {
  padding-top: 2vw;
  padding-left: 1vw;
}

.list-group-h .list-group-item {
  color: #fff;
  background-color: #252934;
  border: none;
}

.list-group-card .list-group-item {
  color: #fff;
  background-color: #343a40;
  border: none;
}

.description {
  padding-top: "2vw";
}

.project-img {
  z-index: 1;
  box-shadow: 5px 10px 18px #888888;
  margin-top: 4vw;
  margin-bottom: 4vw;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 575.98px) {
  .project-img {
    width: 75%;
  }
}

.project-img:hover {
  transform: scale(1.05);
}

.vertical-center {
  margin-bottom: 4vw;
  z-index: -1;
}
