.grid {
  display: flex;
  align-items: center;
}

.center {
  text-align: center;
  padding-bottom: 50px;
  width: 58%;
  margin: auto;
  font-size: 2.3em;
}
.center_de{
	width: 60% !important;
}

.learn {
  font-style: bold;
  font-size: 1.25em;
  padding-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.learn:hover {
  transform: scale(1.1);
}

/* .tagline {
  font-size: 2em;
} */

.blue {
  color: "#19aad5";
}

@media only screen and (max-width: 600px) {
  .center {
    width: 80%;
    font-size: 1.5rem;
  }
}
