.header {
  font-size: 2.5em;
  color: "#19aad5";
  margin-top: 20vh;
}
@media only screen and (max-width: 600px){
	.header{
		font-size: 2em;
	}
}

.container {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .block::after {
  position: absolute;
  left: 2px;
  content: "";
  height: 33px;
  width: 2px;
  background-color: #333;
} */
