.about {
  min-height: 100vh;
  background: #252934;
  text-align: center;
}

.bio {
  text-align: left;
  padding-left: 2vw;
}

.skills {
  padding-top: 3vw;
}

.skills-desc {
  text-align: left;
  padding-top: 2vw;
}

.skills-buttons {
  padding-top: 1vw;
}

.btn-skill:hover,
.btn-skill:focus {
  background: #246175;
}

.btn-skill:focus p {
  font-weight: bold;
}

.barchart-group {
  padding-top: 6vw;
}

.button-text {
  padding-top: 0.4vw;
  padding-left: 0.1vw;
}

.bio-img {
  box-shadow: 5px 10px 18px #888888;
  transition: all 0.2s ease-in-out;
}

.bio-img:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 18px #3b5998;
}
