.landing {
  background: #252934;
  height: 100vh;
  width: 100vw;
}

.center {
  padding-top: 40vh;
  text-align: center;
}

.learn {
  padding-top: 5vh;
}

.learn-more {
  transition: all 0.2s ease-in-out;
}

.learn-more:hover {
  color: #0079fd;

  transform: scale(1.1);
}
