html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image {
  box-shadow: 5px 10px 18px #888888;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 18px #3b5998;
}

.link {
  color: #077bff i !important;
}
